<nav>
    <div class="logo-container">
        <a href="/home">
            <img src="/images/logo.png" alt="Career Connect Logo" class="logo-img" />
        </a>
    </div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/searchJob">Job Search</a></li>
        <% if (user) { %>
            <li class="dropdown">
                <a href="/userDashboard" class="account-link">Dashboard & Insights</a>
                <div class="dropdown-content">
                    <a href="/userDashboard">Dashboard</a>
                    <a href="/moreExperience">Experience</a>
                    <a href="/moreEducation">Education</a>
                    <a href="/appliedJobs">Applied Jobs</a>
                    <a href="/likedJobs">Liked Jobs</a>
                    <a href="/userAllMessages">Messages</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="account-link">Company Info</a>
                <div class="dropdown-content">
                    <a href="contactUs">Contact</a>
                    <a href="/aboutUs">About Us</a>
                </div>
            </li>
            <li><a href="/logout">Logout</a></li>
        <% } else if (admin) { %>
        <li><a href="/adminDashboard">Dashboard</a></li>
        <li><a href="/adminLogout">Logout</a></li>
        <% } else if (employer) { %>
        <li><a href="/empDashboard">Dashboard</a></li>
        <li class="dropdown">
            <a href="#" class="account-link">Company Info</a>
            <div class="dropdown-content">
                <a href="contactUs">Contact</a>
                <a href="/aboutUs">About Us</a>
            </div>
        </li>
        <li><a href="/empLogout">Logout</a></li>
        <% } else { %>
        <li class="dropdown">
                <a href="#" class="account-link">Company Info</a>
                <div class="dropdown-content">
                    <a href="contactUs">Contact</a>
                    <a href="/aboutUs">About Us</a>
                </div>
        </li>
        <li class="dropdown">
            <a href="#" class="account-link">Account</a>
            <div class="dropdown-content">
                <a href="/login">Job Seeker</a>
                <a href="/empLogin">Recruiter</a>
                <a href="/adminlogin">Admin</a>
            </div>
        </li>
        <% } %>
    </ul>
</nav>
