<nav>
    <div class="logo-container">
        <img src="images/logo.png" alt="Career Connect Logo" class="logo-img">
        <h1 class="logo">Career Connect</h1>
    </div>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="search">Search</a></li>

        <% if (user) { %>
            <li><a href="userDashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else if (employer) { %>
            <li><a href="empDashboard">Dashboard</a></li>
            <li><a href="/empLogout">Logout</a></li>
        <% } else { %>
            <li class="dropdown">
                <a href="#" class="account-link">Account</a>
                <div class="dropdown-content">
                    <a href="login">Job Seeker</a>
                    <a href="empLogin">Recruiter</a>
                </div>
            </li>
        <% } %>
    </ul>
</nav>
