<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Employer Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>
<%- include('./partials/nav.ejs') %>

    <body>
        <div class="container">
            <div class="login-container">
                <div class="login-form">
                    <h2>Employer Login</h2>

                    <% if (error) { %>
                        <p class="error-message">
                            <%= error %>
                        </p>
                        <% } %>

                            <form method="post" action="/empLogin_post">
                                <div class="form-group">
                                    <label for="employerId">Employer Id</label>
                                    <input type="text" class="form-control" id="employerId" name="employerId"
                                        placeholder="Enter your Employer Id" required />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Enter your password" required />
                                </div>
                                <button type="submit" class="btn btn-success">
                                    Login
                                </button>
                            </form>

                            <div class="signup-link">
                                <p>
                                    Forgot your password?
                                    <a href="/emp-forgot-password">Forgot</a>
                                </p>
                            </div>

                            <div class="signup-link">
                                <p>
                                    Not an employer? <a href="/empSignup">Sign up here</a>
                                </p>
                            </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>