.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 300px;

    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #212529;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-top: 10px;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none !important;
}

nav ul li a:hover {
    background-color: #28a745;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #ecf0f1;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #28a745;
    color: white;
}


.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 1230px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    .logo-container {
      margin-bottom: 1rem;
    }
  
    .navigationList {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }
  
    .navigationList.show {
      max-height: 500px; /* Adjust this value as needed */
      transition: max-height 0.3s ease-in;
    }
  
    .navigationList li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  
    .dropdown-content {
      position: static;
      display: none;
      width: 100%;
      box-shadow: none;
      margin-top: 0;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .hamburger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .line:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }