/* Backround Image Link:https://unsplash.com/photos/black-asus-laptop-computer-showing-3-00-sxiSod0tyYQ */

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.541);
    color: white;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    height: 40px;
}

.btn-success {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

}

.btn-login,
.btn-success {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-login {
    background-color: #007bff !important;
    color: #fff;
}

.btn-signup:hover,
.btn-login:hover {
    opacity: 0.9;
}
