<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Delete Education</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <style>
        .card {
            border: none;
            border-radius: 0.25rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .btn-danger {
            margin-right: 10px;
        }
        .alert-danger {
            margin-top: 20px;
        }
    </style>
</head>
<body style="background-color: #f8f9fa">
<%- include('./partials/nav.ejs') %>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="mb-4">Delete Education</h1>
            <form action="/delete-education" method="post">
                <input type="hidden" name="educationId" value="<%= educationId %>" />
                <div class="alert alert-danger" role="alert">
                    Are you sure you want to delete this Education?
                </div>
                <button type="submit" class="btn btn-outline-danger">
                    Confirm Delete
                </button>
                <a href="/userDashboard" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<%- include('./partials/footer.ejs') %>
</body>
</html>