<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Liked Jobs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    </head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="container mt-5">
    <h1 class="mb-4">Liked Jobs</h1>
    <ul class="list-group">
        <% likedJobs.forEach(function(job, index) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong><%= job.jobTitle %></strong>
                </div>
                <div>
                    <!-- Actions for liked jobs -->
                </div>

                <!-- Job Detail Modal for liked jobs -->
            </li>
        <% }); %>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<%- include('./partials/footer.ejs') %>
</body>
</html>
