<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Job Search</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <%- include('./partials/nav.ejs') %>

    <body style="background-color: #f8f9fa">
        <div class="container mt-5">
            <h1>Job Search</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="job">Job:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="job"
                            placeholder="Enter job"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="location"
                            placeholder="Enter location"
                        />
                    </div>
                </div>
                <div class="col-md-12">
                    <button
                        type="button"
                        class="btn btn-success"
                        onclick="searchJobs()"
                    >
                        Search
                    </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="salary">Filter by Salary:</label>
                        <select class="form-control" id="salary">
                            <option value="">Select Salary Range</option>
                            <option value="0-50000">$0 - $50,000</option>
                            <option value="50001-100000">
                                $50,001 - $100,000
                            </option>
                            <option value="100001-150000">
                                $100,001 - $150,000
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="sector">Filter by Sector:</label>
                        <select class="form-control" id="sector">
                            <option value="">Select Sector</option>
                            <option value="IT">IT</option>
                            <option value="Finance">Finance</option>
                            <option value="Healthcare">Healthcare</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="title">Filter by Company:</label>
                        <select class="form-control" id="company">
                            <option value="">Select Company</option>
                            <option value="IT">IT</option>
                            <option value="Finance">Finance</option>
                            <option value="Healthcare">Healthcare</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="searchResults" class="mt-4"></div>
        </div>

        <script>
            function searchJobs() {}
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
